.item-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 0;
  box-shadow: inset 0 0 2000px 2000px RGBA(0,0,0,0.75);
  border-radius: 2rem;
}
