<app-navbar></app-navbar>

<div class="py-3">
  <div class="px-[3.4%] mx-auto">
    <h1 class="text-2xl font-normal">Continue watching</h1>
    <hr class="w-12 mt-2 mb-4 border-t-2">
  </div>
  <div class="splide splide-row-1">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/360x205?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="px-[3.4%] mx-auto">
    <h1 class="text-2xl font-normal">Movies</h1>
    <hr class="w-12 mt-2 mb-4 border-t-2">
  </div>
  <div class="splide splide-row-2">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Movie 1"/>
          <div class="text-center mt-1">
            <h1>Movie Title 1</h1>
            <p class="font-thin">2025</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="px-[3.4%] mx-auto">
    <h1 class="text-2xl font-normal">TV Shows</h1>
    <hr class="w-12 mt-2 mb-4 border-t-2">
  </div>
  <div class="splide splide-row-3">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="https://placehold.co/190x284?text=Series 1"/>
          <div class="text-center mt-1">
            <h1>Series Title 1</h1>
            <p class="font-thin">S1:E3 - Lorem Ipsum</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="px-[3.4%] mx-auto">
  <div class="bg-blue-500 h-8"></div>
</div>
