<div class="p-8 h-screen min-w-80">
  <nav class="bg-[#2c2c2c] relative z-30 h-full rounded-[2em] mdrn-shadow">
    <div class="flex flex-col">
      <a href="../" class="flex gap-1 py-10 px-8">
        <img src="logo.png" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-xl font-extralight whitespace-nowrap">Watch Stars</span>
      </a>

      <div class="flex flex-col">
        <ul class="">
          <li>
            <a href="/" class="block text-white py-4 px-8 hover:bg-[#424242] font-light" aria-current="page">Home</a>
          </li>
          <li>
            <a href="/movies" class="block text-white py-4 px-8 hover:bg-[#424242] font-light" aria-current="page">Movies</a>
          </li>
          <li>
            <a href="/series" class="block text-white py-4 px-8 hover:bg-[#424242] font-light" aria-current="page">Series</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
